body
{
    font-family: 'Montserrat', sans-serif;
   
}
.parallax-img {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   background-image: url('../images/bg.jpg');
  }

  .wrapper
  {
    height: 25vh;
  } 

  .advantages
  {
    border: 1px solid green;
    border-radius: 10%;
    margin: 5px;
    padding: 5px;
    width: 200px;
    max-width: 250px;

  }
  .advantages:hover
  {
    transform: scale(1.1) ;
    transition: 1s  ; 
  }
  